{% load static%}
<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>Try for 30 days</h4>
              <p>Living a new age:the technology and the man, both living together in a regular contact with the diversity in life</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">Register Now</a>
          </div>
        </div>
      </div>
</section>