{% load static %}
<section id="about" class="about-area section-padding bg-gray">
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Manage Statistics</p>
                  <h2 class="section-title">Detailed Statistics of your Company</h2>
                </div>
                <div class="content">
                  <p>
                    A statistical report provides basic infomation about the table that is processed in each step. The statistical report also indicates the number of key values used to retrieve rows in the table.
                  </p>
                  <a href="#" class="btn btn-common mt-3">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
</section>